SQLALCHEMY_DATABASE_URL= "sqlite:///./blog.db"
SQLALCHEMY_DATABASE_URL_ASYNC= "sqlite+aiosqlite:///./blog.db"
SECRET_KEY=your_secret_key_here


#Redis config
REDIS_HOST=redis-12302ap.cloud
REDIS_PORT=123032424
REDIS_USERNAME=default
REDIS_PASSWORD=